---
import Layout from '../layouts/Layout.astro';
import JSONEditor from '../components/JSONEditor'
---

<Layout title="Mocker">
	<main>
		<h1 class="mb-4">Mocker</h1>
		<JSONEditor client:only="react" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
	}
</style>
